@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow: hidden;
}

.swiper-container {
  height: 100vh;
}

.swiper-button-next,
.swiper-button-prev {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  pointer-events: none; /* Initially set to none to make both buttons invisible to mouse pointer */
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
