@tailwind base;
@tailwind components;
@tailwind utilities;

/* test class start */
.tb {
  border: 1px solid red;
}

.tc {
  background-color: rgb(254 202 202);
}

/* test class end */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #292d32;
}

/* swiper style start */
.swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  pointer-events: none;
  display: none;
}

.left-icon {
  background-image: url("left-icon.png");
}

.right-icon {
  background-image: url("right-icon.png");
}

.swiper-container.left-cursor {
  cursor:
    url("./assets/icon/arrow-left.svg") 12 12,
    auto;
}

.swiper-container.right-cursor {
  cursor:
    url("./assets/icon/arrow-right.svg") 12 12,
    auto;
}

.swiper-pagination-bullet-active {
  background: #92c46a !important;
}

.swiper-container {
  cursor: none;
}
/* swiper style end */
